<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/static/requests.js"></script>
    <title>Meu primeiro Crud</title>
  </head>
  <body>
    <div class="form-group col-sm-6 mx-auto">
      {{ form.nome.label }}{{ form.nome(class_='form-control') }}
      {{ form.sobrenome.label }}{{ form.sobrenome(class_='form-control') }}
      {{ form.butt(class_="btn btn-dark form-control", onclick="get_users();post_user()") }}
      <h2>Usuários</h2>
    </div>
    <table id='Users' class="table table-striped table-dark">

    </table>
    <table id='Users'>

    </table>
  </body>
</html>
